/* Estilo general de la página */
body{
    background-color: #f5f7fb;
    font-family: Arial, sans-serif;
    color: #1f2937;
}

/* Personalización de la barra de navegación */
.navbar{
    background-color: #628ce6 !important;
}
/* Estilos pie de página */
footer{
    background-color: #628ce6;
}
/* Diseño de las tarjetas de contenido */
.card{
    border: none;
    border-radius: 15px;
}
/* Encabezados principales y secundarios */
h2, h3, h4{
    font-weight: 600;
}